<div class="user-card">
    <div class="top-component">
        <div class="user-dp" style="background-image: url('.<%= image %>');"></div>
    </div>
    <div class="bottom-component">
        <h4><%= name %></h4>
        <h6><%= profession %></h6>
        <hr>
        <p class="form-text text-muted"><%= description %></p>
        <hr>
        <div class="flo"><span class="head"><i class="fa fa-home"></i> Pronouns: </span><span><%= pronoune %></span></div>
        <div class="flo"><span class="head"><i class="fa fa-github"></i> Contact: </span><span><%= contact %></span></div>
        <div class="btn btn-danger" onclick="system.closeUser();">Close</div>
    </div>
</div>