<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="../public/logo.png" name="og:image">
    <meta content="Krishfolio is a portfolio website for Krishnendu that leverages JPEN stack technology, Krishfolio is my personal portfolio website, where Krish open to hire and show down his all projects and ideas." lang="en-us" name="description">
    <meta content="Krishfolio, Krish Portfolio, kidkrishkode, Krishnendu, Fullsatck web developer, Website, project, Hire, WHITE LOTUS" lang="en-us" name="keywords">
    <title version="1.0">Krishfolio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/App.css"/>
    <link rel="stylesheet" href="../public/index.css"/>
    <link rel="icon" href="../public/favicon.ico"/>
</head>
<body>
    <header id="header">
        <%= header %>
    </header>
    <section class="workspace flo" id="project">
        <div class="project-left-component">
            <div class="product-component-top" style="background: url('/assets/thumbnails/<%= project.img %>');background-repeat: no-repeat;background-size: cover;background-position: center;">
                <div class="product-price"><%= project.cost==0?'Self':'Group' %></div>
            </div>
            <div class="project-head flx">
                <div class="project-name"><%= project.name %></div>
                <div class="project-logo"><%= project.name[0] %></div>
            </div>
            <div class="project-desc">
                <%= project.description.startsWith('https://github.com/')==true?locals.descriptionSet(project.description):project.description %>
            </div>
            <div class="reader">
                <div class="btn btn-outline-success" id="reader" onclick="system.toggleDescSize('.project-desc');">Read More <i class="fa fa-long-arrow-down"></i></div>
            </div>
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-image-tab" data-toggle="tab" data-target="#nav-image" type="button" role="tab" aria-controls="nav-image" aria-selected="true" onclick="system.toggleTab('nav-image-tab')">Screenshort</button>
                    <button class="nav-link" id="nav-code-tab" data-toggle="tab" data-target="#nav-code" type="button" role="tab" aria-controls="nav-code" aria-selected="false" onclick="system.toggleTab('nav-code-tab')">Code Snippet</button>
                    <button class="nav-link" id="nav-video-tab" data-toggle="tab" data-target="#nav-video" type="button" role="tab" aria-controls="nav-video" aria-selected="false" onclick="system.toggleTab('nav-video-tab')">Video Support</button>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-image" role="tabpanel" aria-labelledby="nav-image-tab">
                    <div class="project-couple flx">
                        <div class="project-couple-big">
                            <div class="slideshow-container">
                                
                            </div>
                        </div>
                        <div class="project-couple-small">
                            <div class="project-couple-icon"><i class="fa fa-camera"></i></div>
                            <h5>Sample Shorts from Project</h5>
                            <p class="form-text text-muted">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo blanditiis natus asperiores veniam molestias perferendis eos. Optio amet sed placeat.</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-code" role="tabpanel" aria-labelledby="nav-code-tab">
                    <div class="project-couple flx big">
                        <div class="project-couple-small">
                            <div class="project-couple-icon"><i class="fa fa-code"></i></div>
                            <h5>Sample Code of Project</h5>
                            <p class="form-text text-muted">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo blanditiis natus asperiores veniam molestias perferendis eos. Optio amet sed placeat.</p>
                        </div>
                        <div class="project-couple-big">
                            <div class="code-editor">
                                <div class="code-wrapper">
                                    <div class="line-numbers" id="sample-code-line"></div>
                                    <pre class="code language-html" contenteditable="false" spellcheck="false" id="sample-code"><%= code %></pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-video" role="tabpanel" aria-labelledby="nav-video-tab">
                    <div class="project-couple flx">
                        <div class="project-couple-big" id="video_support">
                            
                        </div>
                        <div class="project-couple-small">
                            <div class="project-couple-icon"><i class="fa fa-video-camera"></i></div>
                            <h5>Video Support for Project</h5>
                            <p class="form-text text-muted">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quo blanditiis natus asperiores veniam molestias perferendis eos. Optio amet sed placeat.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="project-right-component">
            <h5>Synopsis</h5>
            <p class="form-text text-muted project-syn"><%= project.synopsis %></p>
            <ul class="project-tags">
                
            </ul>
            <div class="git-link">
                
            </div>
            <hr>
            <div class="project-info">
                
            </div>
            <hr>
            <div class="contributer">
                <h5>Contributers <span><%= 1+(project?.contributter?.length??0)*1 %></span></h5>
                <ul class="contributer-list">
                    
                </ul>
            </div>
            <hr>
            <div class="deployment">
                <h5>Deployments</h5>
                <ul class="deployment-list">

                </ul>
            </div>
            <hr>
            <div class="rating">
                <h5>Ratings <span class="rater">34</span></h5>
                <div class="icon">
                </div>
            </div>
            <hr>
            <div class="language">
                <h5>Languages</h5>
                <div class="progress">
                
                </div>
                <ul class="language-list">
                    
                </ul>
            </div>
        </div>
    </section>
</body>
<script src="../public/App.js"></script>
<script>
    pageSet.push('header');
    currentPage.push('Projects');
    document.getElementById('header').innerHTML = document.getElementById('header').textContent;
    setTimeout(()=>{
        let tags = system.tagTohtml('<%= project.tags %>'.split(","));
        document.querySelector(".project-tags").innerHTML = tags;

        let temp='';
        let links = "<%= project.link %>";
        links = links.split(",");
        for(let i=0; i<links.length; i++){
            temp += `<div class="flx"><i class="fa fa-chain"></i><a href="${links[i]}" title="External Rotue">${links[i]}</a></div>`;
        }
        document.querySelector('.git-link').innerHTML = temp;

        let info = "<%= JSON.stringify(project.info) %>";
        info = eval('('+info.replaceAll('&#34;','"')+')');
        temp='';
        for(let key in info.upper){
            temp += `<div class="flx"><span class="head">${key.replaceAll("_"," ")}:</span><span>${info.upper[key]==''?'_':info.upper[key]}</span></div>`;
        }
        temp += "<hr>";
        for(let key in info.lower){
            temp += `<div class="flx"><span class="head">${key.replaceAll("_"," ")}:</span><span>${info.lower[key]==''?'_':info.lower[key]}</span></div>`;
        }
        document.querySelector('.project-info').innerHTML = temp;

        let lang = "<%= JSON.stringify(project.language) %>";
        lang = eval('('+lang.replaceAll('&#34;','"')+')');
        let majorLang = eval(config.hex.majorLang);
        document.querySelector('.project-logo').classList.add(majorLang(lang).col);
        lang = eval(config.hex.sortLang)(lang);

        temp='',list='';
        // console.log(lang);
        for(let i=0; i<lang.length; i++){
            temp += `<div class="progress-bar ${lang[i].name.toLowerCase()}" role="progressbar" style="width: ${lang[i].parcentage}%" aria-valuenow="${lang[i].parcentage}" aria-valuemin="0" aria-valuemax="100"></div>`;
            list += `<li><div class="lang-dots ${lang[i].name.toLowerCase()}"></div>${lang[i].name}<span class="percentage">${lang[i].parcentage}%</span></li>`;
        }
        document.querySelector('.progress').innerHTML = temp;
        document.querySelector('.language-list').innerHTML = list;

        if("<%= 1+project.cost %>" != 1){
            let contributter = "<%= project.contributter %>";
            let contributers = "<%= JSON.stringify(contributer) %>";
            contributers = eval('('+contributers.replaceAll('&#34;','"')+')');
            let contributterByid = eval(config.hex.contributterByid);
            document.querySelector('.contributer-list').innerHTML = contributterByid(contributter.split(","), contributers);
        }else{
            document.querySelector('.contributer-list').innerHTML = '<li><img src="../public/logo1500.png" alt="Krishfolio" onclick="route(`../index`)"/></li>';
        }

        temp = "<%= JSON.stringify(project.deployment) %>";
        temp = eval('('+temp.replaceAll('&#34;','"')+')');
        document.querySelector(".deployment-list").innerHTML = `<li style="display: ${temp?.gitpage>=0?'block':'none'}">${temp?.gitpage==1?'<i class="fa fa-check-circle grn"></i>':temp?.gitpage==-1?'<i class="fa fa-minus-circle gry"></i>':'<i class="fa fa-fa-times-circle red"></i>'}github-page<span>${temp.gitpage>=0?'some times ago':''}</span></li>
        <li style="display: ${temp?.production>=0?'block':'none'}">${temp?.production==1?'<i class="fa fa-check-circle grn"></i>':temp?.production==-1?'<i class="fa fa-minus-circle gry"></i>':'<i class="fa fa-times-circle red"></i>'}Production</li>
        <li style="display: ${temp?.development>=0?'block':'none'}">${temp?.development==1?'<i class="fa fa-check-circle grn"></i>':temp?.development==-1?'<i class="fa fa-minus-circle gry"></i>':'<i class="fa fa-times-circle red"></i>'}Development</li>`;

        temp = "<%= project.rating %>";
        let rateChecker = eval(config.hex.rateChecker);
        let rateToStarMaker = eval(config.hex.rateToStarMaker);
        temp = rateChecker(temp.split(',').map(item => item*1));
        document.querySelector('.icon').innerHTML = rateToStarMaker(temp[0])+'<span>'+temp[0]+'</span>';
        document.querySelector('.rater').innerHTML = temp[1];
    },1000);
    setTimeout(()=>{
        let code = `<%= code %>`;
        let exec;
        if(code.indexOf('https://github.com/')>=0 && code.startsWith('https://github.com/')){
            let gitCaller = eval(config.hex.gitCaller);
            gitCaller(code).then(content => 
                document.getElementById('sample-code').textContent = content
            ).catch(error => console.error("Error: " + error));
            let fileContent = document.getElementById('sample-code').innerText;
            if(fileContent==null){
                document.getElementById('sample-code-line').style.display = "none";
                document.getElementById('sample-code').innerText = "Error: 503!\nExternal Code fetch not possible due to network gateway or securty purpose!\nAccess code from:\n"+document.getElementById('sample-code').textContent;
                return;
            }
            exec = code.split('.')[code.split('.').length-1];
        }
        if(exec==undefined){
            exec = '<%= exe %>';
            if(exec==undefined||exec===''){
                alert("No extension found with this code file!");
            }
        }
        system.toggleTab('nav-code-tab');
        let updateLine = eval(compiler.updateLineNumbers);
        let highlighter = eval('compiler.'+eval(compiler.compilerAssigner)(exec).highlighter);
        let parser = eval('compiler.'+eval(compiler.compilerAssigner)(exec).parser);
        let ideDeploy = eval(compiler.ideDeploy);
        setTimeout(()=>{
            eval(parser)('#sample-code');
            eval(highlighter)('#sample-code');
            ideDeploy('#sample-code','#sample-code-line', updateLine);
        },2000);
    },1000);
    setTimeout(() => {
        let imagelist = "<%= project.screen_short %>";
        imagelist = imagelist.split(",");
        sliderImageMaker = eval(config.hex.sliderImageMaker);
        let temp = sliderImageMaker(imagelist);
        // console.log("form frontend\n"+temp);
        if(temp!=null){
            document.querySelector('.slideshow-container').innerHTML = temp;
            showSlides(1, 0);
        }else{
            document.querySelector('.slideshow-container').innerHTML = "<div class='no-media'>No media provided for this project!</div>";
        }
    },1000);
    setTimeout(()=>{
        let vid_container = document.querySelector('#video_support');
        let Video = "<%= project.video_support %>";
        if(Video!=""){
            vid_container.innerHTML = `<iframe src="${Video}" alt="load.." title="Tap to visite on full screen"></iframe>`;
        }else{
            vid_container.innerHTML = "<div class='falier'>Video support not provided for this project, Try another way!</div>";
        }
    },1000);
</script>
<script>
    let slideIndex = [1,1];
    let slideId = ["mySlides1", "mySlides2"]
    // showSlides(1, 0);

    function plusSlides(n, no) {
      showSlides(slideIndex[no] += n, no);
    }
    
    function showSlides(n, no) {
      let i;
      let x = document.getElementsByClassName(slideId[no]);
      if (n > x.length) {slideIndex[no] = 1}    
      if (n < 1) {slideIndex[no] = x.length}
      for (i = 0; i < x.length; i++) {
         x[i].style.display = "none";  
      }
      x[slideIndex[no]-1].style.display = "block";  
    }
    
</script>
</html>